In [ ]:
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

In [6]:
path = 'data/classic_rock.db'
con = sq3.Connection(path)

In [11]:
query = '''
SELECT * FROM rock_songs
'''
observation = pd.read_sql(query, con)
observation.head()

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13

In [12]:
query = '''
SELECT Artist, Release_Year, COUNT(*) as num_songs, AVG(PlayCount) AS avg_plays
FROM rock_songs
GROUP BY Artist, Release_Year
ORDER BY num_songs desc
'''

observations = pd.read_sql(query, con)
observations.head()

         Artist  Release_Year  num_songs  avg_plays
0   The Beatles        1967.0         23   6.565217
1  Led Zeppelin        1969.0         18  21.000000
2   The Beatles        1965.0         15   3.800000
3   The Beatles        1968.0         13  13.000000
4   The Beatles        1969.0         13  15.000000

In [13]:
query = '''
SELECT Artist, Release_Year, COUNT(*) as num_songs, AVG(PlayCount) AS avg_plays
FROM rock_songs
GROUP BY Artist, Release_Year
ORDER BY num_songs desc
'''

observations_generator = pd.read_sql(query, 
                                     con, 
                                     coerce_float=True,
                                     parse_dates=['Release_Year'],
                                     chunksize=5
                                    )

for index, observation in enumerate(observations_generator):
    if index < 5:
        print(f'Observation index {index}'.format(index))
        display(observations)

Observation index 0

                           Artist  Release_Year  num_songs  avg_plays
0                     The Beatles        1967.0         23   6.565217
1                    Led Zeppelin        1969.0         18  21.000000
2                     The Beatles        1965.0         15   3.800000
3                     The Beatles        1968.0         13  13.000000
4                     The Beatles        1969.0         13  15.000000
5                    Led Zeppelin        1970.0         12  13.166667
6                    Led Zeppelin        1975.0         12  14.166667
7                      Pink Floyd        1979.0         11  41.454545
8                      Pink Floyd        1973.0         10  29.100000
9                       The Doors        1967.0         10  28.900000
10                  Fleetwood Mac        1977.0          9  35.666667
11                   Jimi Hendrix        1967.0          9  24.888889
12                    The Beatles        1963.0          9   2.444444
13                    The Beatles        1964.0          9   3.111111
14                     Elton John        1973.0          8  18.500000
15                   Led Zeppelin        1971.0          8  47.750000
16                   Led Zeppelin        1973.0          8  34.125000
17                         Boston        1976.0          7  69.285714
18                 Rolling Stones        1969.0          7  36.142857
19                      Van Halen        1978.0          7  51.142857
20              Bruce Springsteen        1975.0          6   7.666667
21              Bruce Springsteen        1984.0          6  11.500000
22   Creedence Clearwater Revival        1969.0          6  23.833333
23   Creedence Clearwater Revival        1970.0          6  18.833333
24                    Def Leppard        1987.0          6  32.000000
25                        Nirvana        1991.0          6  14.666667
26         Paul McCartney & Wings        1973.0          6  25.500000
27                    The Beatles        1966.0          6   6.000000
28                        The Who        1971.0          6  44.000000
29                          AC/DC        1980.0          5  73.800000
..                            ...           ...        ...        ...
878                  Tommy Tutone        1982.0          1  11.000000
879                          Toto        1978.0          1  72.000000
880                          Toto        1982.0          1   2.000000
881                       Triumph        1979.0          1   1.000000
882                       Turtles        1967.0          1   1.000000
883                            U2        1980.0          1   4.000000
884                            U2        2000.0          1   7.000000
885                            U2        2004.0          1   3.000000
886                          UB40        1983.0          1   2.000000
887                           UFO        1976.0          1   1.000000
888                    Uriah Heep        1972.0          1   1.000000
889                    Uriah Heep        1973.0          1   2.000000
890                     Van Halen        1981.0          1  49.000000
891                     Van Halen        1988.0          1  22.000000
892                  Van Morrison        1967.0          1  55.000000
893                  Van Morrison        1971.0          1   5.000000
894                Violent Femmes        1982.0          1   1.000000
895                           War        1970.0          1   2.000000
896                           War        1972.0          1   3.000000
897                       Warrant        1990.0          1   6.000000
898                        Weezer        1994.0          1   2.000000
899                    Whitesnake        1980.0          1   3.000000
900                    Whitesnake        1984.0          1   1.000000
901                   Wild Cherry        1976.0          1   4.000000
902                  Wishbone Ash        1980.0          1   1.000000
903                           Yes        1972.0          1  35.000000
904                        ZZ Top        1976.0          1   1.000000
905                        ZZ Top        1980.0          1  34.000000
906                       Zombies        1968.0          1  14.000000
907                          a-ha        1985.0          1   1.000000

[908 rows x 4 columns]

Observation index 1

                           Artist  Release_Year  num_songs  avg_plays
0                     The Beatles        1967.0         23   6.565217
1                    Led Zeppelin        1969.0         18  21.000000
2                     The Beatles        1965.0         15   3.800000
3                     The Beatles        1968.0         13  13.000000
4                     The Beatles        1969.0         13  15.000000
5                    Led Zeppelin        1970.0         12  13.166667
6                    Led Zeppelin        1975.0         12  14.166667
7                      Pink Floyd        1979.0         11  41.454545
8                      Pink Floyd        1973.0         10  29.100000
9                       The Doors        1967.0         10  28.900000
10                  Fleetwood Mac        1977.0          9  35.666667
11                   Jimi Hendrix        1967.0          9  24.888889
12                    The Beatles        1963.0          9   2.444444
13                    The Beatles        1964.0          9   3.111111
14                     Elton John        1973.0          8  18.500000
15                   Led Zeppelin        1971.0          8  47.750000
16                   Led Zeppelin        1973.0          8  34.125000
17                         Boston        1976.0          7  69.285714
18                 Rolling Stones        1969.0          7  36.142857
19                      Van Halen        1978.0          7  51.142857
20              Bruce Springsteen        1975.0          6   7.666667
21              Bruce Springsteen        1984.0          6  11.500000
22   Creedence Clearwater Revival        1969.0          6  23.833333
23   Creedence Clearwater Revival        1970.0          6  18.833333
24                    Def Leppard        1987.0          6  32.000000
25                        Nirvana        1991.0          6  14.666667
26         Paul McCartney & Wings        1973.0          6  25.500000
27                    The Beatles        1966.0          6   6.000000
28                        The Who        1971.0          6  44.000000
29                          AC/DC        1980.0          5  73.800000
..                            ...           ...        ...        ...
878                  Tommy Tutone        1982.0          1  11.000000
879                          Toto        1978.0          1  72.000000
880                          Toto        1982.0          1   2.000000
881                       Triumph        1979.0          1   1.000000
882                       Turtles        1967.0          1   1.000000
883                            U2        1980.0          1   4.000000
884                            U2        2000.0          1   7.000000
885                            U2        2004.0          1   3.000000
886                          UB40        1983.0          1   2.000000
887                           UFO        1976.0          1   1.000000
888                    Uriah Heep        1972.0          1   1.000000
889                    Uriah Heep        1973.0          1   2.000000
890                     Van Halen        1981.0          1  49.000000
891                     Van Halen        1988.0          1  22.000000
892                  Van Morrison        1967.0          1  55.000000
893                  Van Morrison        1971.0          1   5.000000
894                Violent Femmes        1982.0          1   1.000000
895                           War        1970.0          1   2.000000
896                           War        1972.0          1   3.000000
897                       Warrant        1990.0          1   6.000000
898                        Weezer        1994.0          1   2.000000
899                    Whitesnake        1980.0          1   3.000000
900                    Whitesnake        1984.0          1   1.000000
901                   Wild Cherry        1976.0          1   4.000000
902                  Wishbone Ash        1980.0          1   1.000000
903                           Yes        1972.0          1  35.000000
904                        ZZ Top        1976.0          1   1.000000
905                        ZZ Top        1980.0          1  34.000000
906                       Zombies        1968.0          1  14.000000
907                          a-ha        1985.0          1   1.000000

[908 rows x 4 columns]

Observation index 2

                           Artist  Release_Year  num_songs  avg_plays
0                     The Beatles        1967.0         23   6.565217
1                    Led Zeppelin        1969.0         18  21.000000
2                     The Beatles        1965.0         15   3.800000
3                     The Beatles        1968.0         13  13.000000
4                     The Beatles        1969.0         13  15.000000
5                    Led Zeppelin        1970.0         12  13.166667
6                    Led Zeppelin        1975.0         12  14.166667
7                      Pink Floyd        1979.0         11  41.454545
8                      Pink Floyd        1973.0         10  29.100000
9                       The Doors        1967.0         10  28.900000
10                  Fleetwood Mac        1977.0          9  35.666667
11                   Jimi Hendrix        1967.0          9  24.888889
12                    The Beatles        1963.0          9   2.444444
13                    The Beatles        1964.0          9   3.111111
14                     Elton John        1973.0          8  18.500000
15                   Led Zeppelin        1971.0          8  47.750000
16                   Led Zeppelin        1973.0          8  34.125000
17                         Boston        1976.0          7  69.285714
18                 Rolling Stones        1969.0          7  36.142857
19                      Van Halen        1978.0          7  51.142857
20              Bruce Springsteen        1975.0          6   7.666667
21              Bruce Springsteen        1984.0          6  11.500000
22   Creedence Clearwater Revival        1969.0          6  23.833333
23   Creedence Clearwater Revival        1970.0          6  18.833333
24                    Def Leppard        1987.0          6  32.000000
25                        Nirvana        1991.0          6  14.666667
26         Paul McCartney & Wings        1973.0          6  25.500000
27                    The Beatles        1966.0          6   6.000000
28                        The Who        1971.0          6  44.000000
29                          AC/DC        1980.0          5  73.800000
..                            ...           ...        ...        ...
878                  Tommy Tutone        1982.0          1  11.000000
879                          Toto        1978.0          1  72.000000
880                          Toto        1982.0          1   2.000000
881                       Triumph        1979.0          1   1.000000
882                       Turtles        1967.0          1   1.000000
883                            U2        1980.0          1   4.000000
884                            U2        2000.0          1   7.000000
885                            U2        2004.0          1   3.000000
886                          UB40        1983.0          1   2.000000
887                           UFO        1976.0          1   1.000000
888                    Uriah Heep        1972.0          1   1.000000
889                    Uriah Heep        1973.0          1   2.000000
890                     Van Halen        1981.0          1  49.000000
891                     Van Halen        1988.0          1  22.000000
892                  Van Morrison        1967.0          1  55.000000
893                  Van Morrison        1971.0          1   5.000000
894                Violent Femmes        1982.0          1   1.000000
895                           War        1970.0          1   2.000000
896                           War        1972.0          1   3.000000
897                       Warrant        1990.0          1   6.000000
898                        Weezer        1994.0          1   2.000000
899                    Whitesnake        1980.0          1   3.000000
900                    Whitesnake        1984.0          1   1.000000
901                   Wild Cherry        1976.0          1   4.000000
902                  Wishbone Ash        1980.0          1   1.000000
903                           Yes        1972.0          1  35.000000
904                        ZZ Top        1976.0          1   1.000000
905                        ZZ Top        1980.0          1  34.000000
906                       Zombies        1968.0          1  14.000000
907                          a-ha        1985.0          1   1.000000

[908 rows x 4 columns]

Observation index 3

                           Artist  Release_Year  num_songs  avg_plays
0                     The Beatles        1967.0         23   6.565217
1                    Led Zeppelin        1969.0         18  21.000000
2                     The Beatles        1965.0         15   3.800000
3                     The Beatles        1968.0         13  13.000000
4                     The Beatles        1969.0         13  15.000000
5                    Led Zeppelin        1970.0         12  13.166667
6                    Led Zeppelin        1975.0         12  14.166667
7                      Pink Floyd        1979.0         11  41.454545
8                      Pink Floyd        1973.0         10  29.100000
9                       The Doors        1967.0         10  28.900000
10                  Fleetwood Mac        1977.0          9  35.666667
11                   Jimi Hendrix        1967.0          9  24.888889
12                    The Beatles        1963.0          9   2.444444
13                    The Beatles        1964.0          9   3.111111
14                     Elton John        1973.0          8  18.500000
15                   Led Zeppelin        1971.0          8  47.750000
16                   Led Zeppelin        1973.0          8  34.125000
17                         Boston        1976.0          7  69.285714
18                 Rolling Stones        1969.0          7  36.142857
19                      Van Halen        1978.0          7  51.142857
20              Bruce Springsteen        1975.0          6   7.666667
21              Bruce Springsteen        1984.0          6  11.500000
22   Creedence Clearwater Revival        1969.0          6  23.833333
23   Creedence Clearwater Revival        1970.0          6  18.833333
24                    Def Leppard        1987.0          6  32.000000
25                        Nirvana        1991.0          6  14.666667
26         Paul McCartney & Wings        1973.0          6  25.500000
27                    The Beatles        1966.0          6   6.000000
28                        The Who        1971.0          6  44.000000
29                          AC/DC        1980.0          5  73.800000
..                            ...           ...        ...        ...
878                  Tommy Tutone        1982.0          1  11.000000
879                          Toto        1978.0          1  72.000000
880                          Toto        1982.0          1   2.000000
881                       Triumph        1979.0          1   1.000000
882                       Turtles        1967.0          1   1.000000
883                            U2        1980.0          1   4.000000
884                            U2        2000.0          1   7.000000
885                            U2        2004.0          1   3.000000
886                          UB40        1983.0          1   2.000000
887                           UFO        1976.0          1   1.000000
888                    Uriah Heep        1972.0          1   1.000000
889                    Uriah Heep        1973.0          1   2.000000
890                     Van Halen        1981.0          1  49.000000
891                     Van Halen        1988.0          1  22.000000
892                  Van Morrison        1967.0          1  55.000000
893                  Van Morrison        1971.0          1   5.000000
894                Violent Femmes        1982.0          1   1.000000
895                           War        1970.0          1   2.000000
896                           War        1972.0          1   3.000000
897                       Warrant        1990.0          1   6.000000
898                        Weezer        1994.0          1   2.000000
899                    Whitesnake        1980.0          1   3.000000
900                    Whitesnake        1984.0          1   1.000000
901                   Wild Cherry        1976.0          1   4.000000
902                  Wishbone Ash        1980.0          1   1.000000
903                           Yes        1972.0          1  35.000000
904                        ZZ Top        1976.0          1   1.000000
905                        ZZ Top        1980.0          1  34.000000
906                       Zombies        1968.0          1  14.000000
907                          a-ha        1985.0          1   1.000000

[908 rows x 4 columns]

Observation index 4

                           Artist  Release_Year  num_songs  avg_plays
0                     The Beatles        1967.0         23   6.565217
1                    Led Zeppelin        1969.0         18  21.000000
2                     The Beatles        1965.0         15   3.800000
3                     The Beatles        1968.0         13  13.000000
4                     The Beatles        1969.0         13  15.000000
5                    Led Zeppelin        1970.0         12  13.166667
6                    Led Zeppelin        1975.0         12  14.166667
7                      Pink Floyd        1979.0         11  41.454545
8                      Pink Floyd        1973.0         10  29.100000
9                       The Doors        1967.0         10  28.900000
10                  Fleetwood Mac        1977.0          9  35.666667
11                   Jimi Hendrix        1967.0          9  24.888889
12                    The Beatles        1963.0          9   2.444444
13                    The Beatles        1964.0          9   3.111111
14                     Elton John        1973.0          8  18.500000
15                   Led Zeppelin        1971.0          8  47.750000
16                   Led Zeppelin        1973.0          8  34.125000
17                         Boston        1976.0          7  69.285714
18                 Rolling Stones        1969.0          7  36.142857
19                      Van Halen        1978.0          7  51.142857
20              Bruce Springsteen        1975.0          6   7.666667
21              Bruce Springsteen        1984.0          6  11.500000
22   Creedence Clearwater Revival        1969.0          6  23.833333
23   Creedence Clearwater Revival        1970.0          6  18.833333
24                    Def Leppard        1987.0          6  32.000000
25                        Nirvana        1991.0          6  14.666667
26         Paul McCartney & Wings        1973.0          6  25.500000
27                    The Beatles        1966.0          6   6.000000
28                        The Who        1971.0          6  44.000000
29                          AC/DC        1980.0          5  73.800000
..                            ...           ...        ...        ...
878                  Tommy Tutone        1982.0          1  11.000000
879                          Toto        1978.0          1  72.000000
880                          Toto        1982.0          1   2.000000
881                       Triumph        1979.0          1   1.000000
882                       Turtles        1967.0          1   1.000000
883                            U2        1980.0          1   4.000000
884                            U2        2000.0          1   7.000000
885                            U2        2004.0          1   3.000000
886                          UB40        1983.0          1   2.000000
887                           UFO        1976.0          1   1.000000
888                    Uriah Heep        1972.0          1   1.000000
889                    Uriah Heep        1973.0          1   2.000000
890                     Van Halen        1981.0          1  49.000000
891                     Van Halen        1988.0          1  22.000000
892                  Van Morrison        1967.0          1  55.000000
893                  Van Morrison        1971.0          1   5.000000
894                Violent Femmes        1982.0          1   1.000000
895                           War        1970.0          1   2.000000
896                           War        1972.0          1   3.000000
897                       Warrant        1990.0          1   6.000000
898                        Weezer        1994.0          1   2.000000
899                    Whitesnake        1980.0          1   3.000000
900                    Whitesnake        1984.0          1   1.000000
901                   Wild Cherry        1976.0          1   4.000000
902                  Wishbone Ash        1980.0          1   1.000000
903                           Yes        1972.0          1  35.000000
904                        ZZ Top        1976.0          1   1.000000
905                        ZZ Top        1980.0          1  34.000000
906                       Zombies        1968.0          1  14.000000
907                          a-ha        1985.0          1   1.000000

[908 rows x 4 columns]